@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.card {
  @include card-base;
  cursor: pointer;
  background: radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.9) 0%,
      transparent 60%
    ),
    linear-gradient(180deg, #ffffff 0%, #f8f9fc 100%);

  position: relative;
  padding: 70px 24px 28px;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.25s ease, box-shadow 0.25s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  }
}

/* IMAGE FLOATING EFFECT */
.imageWrapper {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);

  width: 160px;
  height: 160px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  width: 96px;
  height: 96px;
  object-fit: contain;

  filter: drop-shadow(0 18px 24px rgba(0, 0, 0, 0.18))
    drop-shadow(0 6px 8px rgba(0, 0, 0, 0.12));
}

/* ID */
.pokemonId {
  font-size: 14px;
  font-weight: 600;
  color: #9aa3b2;
  margin-bottom: 6px;
}

/* NAME */
.name {
  font-size: 20px;
  font-weight: 700;
  color: #1f2a44;
  margin-bottom: 14px;
  text-transform: capitalize;
}

/* TYPES */
.types {
  display: flex;
  gap: 10px;
}

.type {
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

/* Loop through map */
@each $type, $values in $pokemon-type-styles {
  .type[data-type="#{$type}"] {
    background: map-get($values, bg);
    color: map-get($values, text);
  }
}
