@use "./reset";
@use "./variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  color: $color-text-primary;
  background: linear-gradient(135deg, #f3f4f8 0%, #e9ecf5 100%);

  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}
