.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 360px; /* fixed width right column */
  gap: 40px;
  align-items: start;
}

/* LEFT CONTAINER */
.left {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.battleOverviewContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
